/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedores */
.form-container, .table-container {
    background-color: #fff;
    padding: 15px; /* Ajustado para ser más pequeño */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* Encabezados */
h2 {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px; /* Ajustado para ser más pequeño */
}

/* Etiquetas y entradas */
label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px; /* Ajustado para ser más pequeño */
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px; /* Ajustado para ser más pequeño */
    margin-bottom: 10px; /* Ajustado para ser más pequeño */
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px; /* Ajustado para ser más pequeño */
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px; /* Ajustado para ser más pequeño */
    font-size: 16px; /* Ajustado para ser más pequeño */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #43a047;
}

/* Tabla de reservas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

tr:hover td {
    background-color: #f1f1f1;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
    .form-container, .table-container {
        width: 100%;
        padding: 10px; /* Ajustado para ser más pequeño */
    }

    table {
        font-size: 14px;
    }

    input, select {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 16px;
    }
}
