#consultaReservas {
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

#tablaReservas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#tablaReservas th, #tablaReservas td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

#tablaReservas th {
  background-color: #0099cc;
  color: white;
  cursor: pointer;
}

#tablaReservas tr:hover {
  background-color: #f1f1f1;
}

#tablaReservas tr:nth-child(even) {
  background-color: #f9f9f9;
}
